
<ion-view view-title="{{ 't_promociones' | translate }}">
    <ion-content ng-controller="Promocion_Restaurante_Ctrl as vm">
    <!--Menu principal-->
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.perfil({ id: vm.restaurante_id })" class="tab-item">
                <i class="icon ion-android-restaurant"></i> {{ 't_perfil' | translate }}
            </a>
            <a ui-sref="app.menu({ id: vm.restaurante_id  })" class="tab-item">
                <i class="icon ion-android-map"></i> {{ 't_menu' | translate }}
            </a>
            <a ui-sref="app.fotos({ id: vm.restaurante_id  })" class="tab-item">
                <i class="icon ion-images"></i> {{ 't_fotos' | translate }}
            </a>
             <a ui-sref="app.promociones({ id: vm.restaurante_id  })" class="tab-item">
                <i class="icon ion-pricetags"></i> {{ 't_promociones' | translate }}
            </a>
            <a ui-sref="app.mapa({ id: vm.restaurante_id  })" class="tab-item">
                <i class="icon ion-ios-location"></i> {{ 't_mapa' | translate }}
            </a>
        </div>
        
		<div class="card">
	    	

	        	<h3>{{ 't_promocion' | translate }}: {{vm.promocion.texto }}</h3>
	     
	        	<h4>{{ 't_vigencia' | translate }}: {{vm.promocion.fecha_vigencia }}</h4>
	        	

	            <img ng-src="http://graphiiics.com/public/promo/restaurante_{{vm.promocion.id_restaurante }}/{{vm.promocion.imagen }}" class="fullscreen-image"/>
	            <br>	
				<div class="button-bar ">
		            <button ng-click="compartirTwitter()" class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
		            <button ng-click="compartirFacebook()" class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
		        </div>

	    </div>
	 
       
       
    </ion-content>
</ion-view>


